{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 glass-card">
        <h2 class="text-center mb-4">Login</h2>

        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" class="form-control mb-3" required>

            <label>Password</label>
            <input type="password" name="password" class="form-control mb-4" required>

            <button type="submit" class="btn btn-custom w-100">Login</button>
        </form>

        <p class="text-center mt-3">
            New user?
            <a href="/register/" class="text-warning">Register</a>
        </p>
    </div>
</div>
{% endblock %}